</div>
<style>
    .add-snippet-button {
        position: fixed;
        bottom: 20px;
        left: 84%;
        z-index: 10;
    }
</style>
<a href="/new">
    <button class="add-snippet-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
</a>
