{{> head }}

<div class="mdl-card mdl-shadow--2dp card header-card">
    <a href="index.html"><img src="public/logo.png" style="height: 100px;" alt="30 seconds of angular"></a>

    <div>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button"
           href="https://github.com/nycJSorg/30-seconds-of-angular"
           data-size="large"
           data-show-count="true" aria-label="Star nycJSorg/30-seconds-of-angular on GitHub">
            Star
        </a>
    </div>
</div>

<div class="codelab-callout mdl-card card mdl-shadow--2dp">
    ✨✨ New to Angular? Check out interactive
    <a href="https://codelab.fun" rel="nofollow" target="_blank">Angular Codelab</a> ✨✨
</div>
