{{> head }}

<div class="mdl-card mdl-shadow--2dp card" style="min-height: 0">
    <div class="mdl-card__title">
        <a href="index.html"><img src="public/logo.png" style="height: 100px;" alt="30 seconds of angular"></a>
    </div>
</div>
