{{> head }}

<header class="mdl-card mdl-shadow--2dp card header-card">
    <a href="/"><img src="public/img/logo_beta.png" style="height: 100px;" alt="30 seconds of angular"></a>

    <div class="header-card__buttons">
        <a class="twitter-follow-button" data-show-count="false" data-size="large"
           href="https://twitter.com/30sec_angular">Follow @30sec_angular</a>

        <!-- Place this tag where you want the button to render. -->
        <a class="github-button"
           href="https://github.com/nycJSorg/30-seconds-of-angular"
           data-size="large"
           data-show-count="true" aria-label="Star nycJSorg/30-seconds-of-angular on GitHub">
            Star
        </a>
    </div>
</header>

<div class="codelab-callout mdl-card card mdl-shadow--2dp">
    ✨✨ New to Angular? Check out interactive
    <a href="https://codelab.fun" rel="nofollow" target="_blank">Angular Codelab</a> ✨✨
</div>
