.card,
h2.group {
    margin: 0 auto 20px;
    width: 80%;
    max-width: 1000px;
    min-width: 540px;
}

h2.group {
    padding-left: 20px;
}

pre {
    background: #333;
    padding: 20px;
    color: #ddd;
}

blockquote:before {
    content: "";
    display: none;
}


blockquote:after {
    content: "";
    display: none;
}

blockquote {
    margin-left: 0;
    padding-left: 8px;
    border-left: 4px #333333 solid;
    min-height: 20px;
}

.mdl-card__title a {
    color: #444;

}

.mdl-card__supporting-text {
    width: 96%;
}

.mdl-card__supporting-text pre {
    white-space: pre-wrap;
}


.thirty-layout-transparent .mdl-layout__header,
.thirty-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: #444444;
}

.mdl-chip__text a {
    color: #333;
    text-decoration: none;
}
.mdl-chip__text a:hover {
    color: #000;
    text-decoration: underline;
}

.snippet-footer {
    display: flex;
    justify-content: space-between;
}

.snippet-footer .author {
    line-height: 36px;
    display: flex;
    align-items: center;
}

.snippet-footer .author > iframe {
    margin-left: 16px;
}

.mdl-card__actions {
    padding: 8px 16px;
}

p > code {
    background: #eee;
    padding: 4px;
}

.codelab-callout {
    text-align: center;
    padding: 16px;
    min-height: 0;
    background: #333;
    color: #dddddd;
    font-size: 14px;
    display: block;
}

/* Header */
.header-card {
    flex-direction: row;
    min-height: 0;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    margin-bottom: 8px;
}

.header-card__buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-card__buttons > * {
    margin-left: 15px;
}

/* Footer */
footer {
  margin-top: 1em;
  min-height: 80px;
  color: #999;
}
footer p {
  margin: 0;
}

footer p + p{
  margin-top: .5em;
}

footer a {
  color: inherit;
}

footer .add-snippet-button {
  position: fixed;
  bottom: 20px;
  left: 84%;
  z-index: 10;
}

