{{#> head }}
  <title>Add new snippet</title>
  <style>
    .layout {
      display: flex;
      flex-direction: column;
    }

    .layout__form {
      flex: 1;
    }
    .layout__form iframe {
      width: 100%;
      height: 100%;
    }
  </style>
{{/head }}

{{#> body class="layout" }}
  <div>
    {{> header }}
  </div>

  <div class="layout__form">
    <iframe src="{{ site.codeRunnerHost }}/30/"></iframe>
  </div>
{{/body}}
