{{#> head }}
  <title>Tag: {{ tag }}</title>
{{/head }}

{{#> full-body }}

  <div class="card">
    <h2>Tag: {{ tag }}</h2>
  </div>

  {{#each pagination.files}}
    {{>snippet}}
  {{/each}}

{{/full-body}}
