<!doctype html>
<html lang="en">
<head>
  {{> head}}
  <title>Tag: {{ tag }}</title>
</head>

<body>
  {{> header }}

  <div class="card">
    <h2>Tag: {{ tag }}</h2>
  </div>

  {{#each pagination.files}}
    {{>snippet}}
  {{/each}}

  {{> footer }}
</body>
</html>


